.body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}


/* index */

/*header*/
.logo{
    font-family: Raleway;
    font-weight: 700px;
    font-size: 26px;
    line-height: 0,84;
    letter-spacing: 0.03em;
}

.logo-top{
    color: #2196F3;
}

.logo-top-span{
    color: #000000;
}

.menu, .menu-studio, .menu-portfolio, .menu-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 0,88;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-studio-span:hover{
    color: #2196F3;
}
.menu-studio-span{
    color: #212121;
}

.menu-portfolio-span:hover{
    color: #2196F3;
}
.menu-portfolio-span{
    color: #212121;
}

.menu-contact-span:hover{
    color: #2196F3;
}
.menu-contact-span{
    color: #212121;
}

.contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 0,88;
    letter-spacing: 0.02em;
    color: #212121;
}

.contact-tel-span{
    white-space: nowrap;   
}

.contact-mail-span:hover{
    color: #2196F3;
}
.contact-mail-span{
    color: #212121;
}

.contact-tel-span:hover{
    color: #2196F3;
}
.contact-tel-span{
    color: #212121;
}

/*main*/

.middle-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 0,73;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.middle-button{
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 4px;
    border:none;
    outline: none;
    font-size: 16px;
}

.middle-button:hover{
    background-color: #188CE8;
}


.doing-topic{
    font-size: 14px;
    line-height: 0,88;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}


.doing-text{
    font-size: 14px;
    line-height: 0,53;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #757575;
}

.wearedoing-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 0,86;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.teamour{
    font-weight: 700;
    font-size: 36px;
    line-height: 0,86;
    text-align: center;
    color: #212121;
}

.worker-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 0,84;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.worker-job{
    font-size: 16px;
    line-height: 0,84;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*footer*/

.logo-button-design{
    font-family: Raleway;
    font-weight: 700px;
    font-size: 26px;
    line-height: 0,84;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-button-design-span{
    font-family: Raleway;
    font-weight: 700px;
    font-size: 26px;
    line-height: 0,84;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.map{
    font-style: normal;
    font-size: 14px;
    line-height: 0,58;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.mail, .fon{
    font-style: normal;
    font-size: 14px;
    line-height: 0,58;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.fon:hover{
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.buttonportfolio-1{
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    border:none;
    outline: none;
    font-size: 16px;
}

.buttonportfolio-1, .buttonportfolio-2, .buttonportfolio-3, .buttonportfolio-4,  .buttonportfolio-5{
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    border:none;
    outline: none;
    font-size: 16px;
}

.buttonportfolio-1:hover{
    background-color: #2196F3;
}
.buttonportfolio-2:hover{
    background-color: #2196F3;
}
.buttonportfolio-3:hover{
    background-color: #2196F3;
}
.buttonportfolio-4:hover{
    background-color: #2196F3;
}
.buttonportfolio-5:hover{
    background-color: #2196F3;
}

.portfolio-titel{
    font-weight: 700;
    font-size: 18px;
    line-height: 0,5;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-text{
    font-size: 16px;
    line-height: 0,53;
    letter-spacing: 0.03em;
    color: #757575;
}